<h1>Wordle Helper</h1>

<form method="get">
  <label>Pattern (use _ for unknown letters):</label>
  <input type="text" name="pattern" value="<%= params[:pattern] %>">
  <br/>
  
  <label>Include Letters (anywhere in the word):</label>
  <input type="text" name="include" value="<%= params[:include] %>">
  <br/>

  <label>Exclude Letters (not in the word):</label>
  <input type="text" name="exclude" value="<%= params[:exclude] %>">
  <br/>

  <label>Forbidden Positions (letter:index, e.g., 's:1,t:3'):</label>
  <input type="text" name="forbidden" value="<%= params[:forbidden] %>">
  <br/>
  
  <input type="submit" value="Search">
</form>

<ul>
  <% @words.each do |word| %>
    <li><%= word.word %></li>
  <% end %>
</ul>
